{% include '/dashboard/head.twig' %}
<nav class="navbar navbar-light bg-white sticky-top">
    <span class="navbar-brand" href="#"><img id="techniclogo" alt="Technic logo" class="d-inline-block align-top"
                                             height="46px" src="/resources/wrenchIcon.svg"><em id="menuopen"
                                                                                               class="fas fa-bars menu-bars"></em> Technic Solder <span
                id="solderinfo">1.0</span></span></span>
    <span style="cursor: pointer;" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
    <span class="navbar-text">{{ name }}</span>
                <div style="left: unset;right: 2px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ url }}/logout">Log Out</a>
                    <a class="dropdown-item" href="./user" onclick="window.location = './user'">My account</a>
                </div>
            </span>

</nav>
<script type="text/javascript">
    $(".navbar-brand").click(function () {
        $("#sidenav").toggleClass("sidenavexpand");
    });
</script>
<div id="sidenav" class="text-white sidenav">
    <ul class="nav nav-tabs" style="height:100%">
        <li class="nav-item">
            <a class="nav-link " href="{{ url }}/dashboard"><em class="fas fa-tachometer-alt fa-lg"></em></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#modpacks" data-toggle="tab" role="tab"><em
                        class="fas fa-boxes fa-lg"></em></a>
        </li>
        <li class="nav-item">
            <a id="nav-mods" class="nav-link" href="#mods" data-toggle="tab" role="tab"><em
                        class="fas fa-book fa-lg"></em></a>
        </li>
        <li class="nav-item">
            <a id="nav-settings" class="nav-link" href="#settings" data-toggle="tab" role="tab"><em
                        class="fas fa-sliders-h fa-lg"></em></a>
        </li>
        <div style="position:absolute;bottom:5em;left:4em;" class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input"
                   name="dark" id="dark">
            <label class="custom-control-label" for="dark">Dark theme</label>
        </div>
    </ul>
    <script type="text/javascript">
        $("#dark").click(function () {
            if ($("#dark").is(":checked")) {
                if (window.location.href.indexOf("?light") > -1 || window.location.href.indexOf("&light") > -1) {
                    if (window.location.href.indexOf("?light") > -1) {
                        window.location.href = window.location.href.replace("?light", "?dark");
                    } else {
                        window.location.href = window.location.href.replace("&light", "&dark");
                    }
                } else {
                    if (window.location.href.indexOf("?") > -1) {
                        window.location.href = window.location.href + "&dark";
                    } else {
                        window.location.href = window.location.href + "?dark";
                    }
                }
            } else {
                if (window.location.href.indexOf("?dark") > -1 || window.location.href.indexOf("&dark") > -1) {
                    if (window.location.href.indexOf("?dark") > -1) {
                        window.location.href = window.location.href.replace("?dark", "?light");
                    } else {
                        window.location.href = window.location.href.replace("&dark", "&light");
                    }
                } else {
                    if (window.location.href.indexOf("?") > -1) {
                        window.location.href = window.location.href + "&light";
                    } else {
                        window.location.href = window.location.href + "?light";
                    }
                }
            }
        });
    </script>
    <div class="tab-content">
        <div class="tab-pane active" id="modpacks" role="tabpanel">
            <div style="overflow:auto;height: calc( 100% - 62px )">
                <p class="text-muted">MODPACKS</p>
                {% for modpack in modpacks %}

                    <a href="{{ url }}/dashboard/modpack/{{ modpack['id'] }}">
                        <div class="modpack">
                            <p class="text-white"><img alt="{{ modpack['display_name'] }}"
                                                       class="d-inline-block align-top" height="25px"
                                        {{ modpack|json_encode|raw }}
                                                       src="{% if modpack['external']['icon'] is defined and modpack['external']['icon']['url'] != "" %}{{ modpack['external']['icon']['url'] }}{% else %}/resources/default/icon.png{% endif %}">{{ modpack['display_name'] }}
                            </p>
                        </div>
                    </a>


                {% endfor %}
                <a href="./dashboard/modpack/create">
                    <div class="modpack">
                        <p><em style="height:25px" class="d-inline-block align-top fas fa-plus-circle"></em> Add Modpack
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="tab-pane" id="mods" role="tabpanel">
            <p class="text-muted">LIBRARIES</p>
            <a href="{{ url }}/dashboard/lib/mods">
                <div class="modpack">
                    <p><em class="fas fa-cubes fa-lg"></em> <span style="margin-left:inherit;">Mod library</span></p>
                </div>
            </a>
            <a href="{{ url }}/dashboard/lib/forges">
                <div class="modpack">
                    <p><em class="fas fa-database fa-lg"></em> <span style="margin-left:inherit;">Forge versions</span>
                    </p>
                </div>
            </a>
            <a href="{{ url }}/dashboard/lib/other">
                <div class="modpack">
                    <p><em class="far fa-file-archive fa-lg"></em> <span style="margin-left:inherit;">Other files</span>
                    </p>
                </div>
            </a>
        </div>
        <div class="tab-pane" id="settings" role="tabpanel">
            <div style="overflow:auto;height: calc( 100% - 62px )">
                <p class="text-muted">SETTINGS</p>
                <a href="{{ url }}/dashboard/settings">
                    <div class="modpack">
                        <p><em class="fas fa-cog fa-lg"></em> <span style="margin-left:inherit;">Quick settings</span>
                        </p>
                    </div>
                </a>
                <a href="{{ url }}/dashboard/configure.php?reconfig">
                    <div class="modpack">
                        <p><em class="fas fa-cogs fa-lg"></em> <span
                                    style="margin-left:inherit;">Solder Configuration</span></p>
                    </div>
                </a>
                <a href="{{ url }}/dashboard/admin">
                    <div class="modpack">
                        <p><em class="fas fa-user-tie fa-lg"></em> <span style="margin-left:inherit;">Admin</span></p>
                    </div>
                </a>
                <a href="{{ url }}/dashboard/about">
                    <div class="modpack">
                        <p><em class="fas fa-info-circle fa-lg"></em> <span
                                    style="margin-left:inherit;">About Solder.cf</span></p>
                    </div>
                </a>
                <a href="{{ url }}/dashboard/update">
                    <div class="modpack">
                        <p><em class="fas fa-arrow-alt-circle-up fa-lg"></em> <span
                                    style="margin-left:inherit;">Update</span></p>
                    </div>
                </a>
                <a style="margin-bottom: 3em;" href="{{ url }}/logout" id="logoutside">
                    <div class="modpack">
                        <p><em class="fas fa-sign-out-alt fa-lg"></em> <span style="margin-left:inherit;">Logout</span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>